{% extends 'base.html' %}

{% block title %}User Info {{user.username}}{% endblock %}

{% block content %}
<h1>User Info</h1>

<ul>
    <li>Username: {{user.username}}</li>
    <li>Name: {{user.first_name}} {{user.last_name}}</li>
    <li>Email: {{user.email}}</li>
</ul>

<form>
    <button formaction="/users/{{user.username}}/feedback/add">Add Feedback</button>
    <button formaction="/users/{{user.username}}/delete" formmethod="POST">Delete User</button>
</form>

<h2>User Feedback</h2>
<ol>
    {% for feedback in feedbacks %}
    <h3>{{feedback.title}}</h3>
    <ul>
        <p>{{feedback.content}}</p>
        <form>
            <button formaction="/feedback/{{feedback.id}}/update">Edit</button>
            <button formaction="/feedback/{{feedback.id}}/delete" formmethod="POST">Delete</button>
        </form>
    </ul>
    {% endfor %}
</ol>
{% endblock %}